POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=nome_database
POSTGRES_PORT=sua_porta_postgres

SERVER_PORT=porta_server
FRONT_PORT=porta_front

VITE_API_URL=http://localhost:porta_vite
